:root {
    --first-title-color: #FFFFFF;
    --feature-title-color: #2E2F42;
    --header-logo-color: #4d5ae5;
    --header-contact-color: #434455;
    --team-background-color: #F4F4FD;
    --btn-background-color: #404BBF;
    --footer-after-color: #E7E9FC;


}

body {
    color: aquamarine;
    font-family: 'Roboto', sans-serif;
    background: var(--first-title-color);
    font-size: 18px;
    font-style: normal;
}

.list {
    list-style: none;
}




.link {
    text-decoration: none;
}

/* --header-- */
.header {}

.header-navigation {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-logo-color);

}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--feature-title-color);

}

.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--feature-title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--header-logo-color);
}

.header-item {}

.header-link {}



.header-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-contact-color);
}

.header-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-contact-color);
}

/* --hero-- */
.hero {
    background: var(--feature-title-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
}

.hero-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--first-title-color);

}

/* --about-- */
.about {}

.about-list {}

.list {}

.about-item {}

.about-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--feature-title-color);
}

.about-after-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-contact-color);
}

/* --feature-- */
.feature {}

.feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--feature-title-color);

}

.feature-list {}

.list {}

.feature-item {}

/* --team-- */
.team {
    background: var(--team-background-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--feature-title-color);
}

.team-list {}

.list {}

.team-item {}

.team-after {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--feature-title-color);
}

.team-after-title {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-contact-color);
}

/* --footer-- */
.footer {
    background: var(--feature-title-color);
}

.footer-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-logo-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--team-background-color);

}



.footer-after {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-after-color);

}

/* --portfolio-- */

.portfolio body {}

.portfolio {}

.portfolio-list {}


.portfolio-item {}

.portfolio-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--header-logo-color);
    cursor: pointer;
    background: var(--btn-background-color);

}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--btn-background-color);
}



.portfolio-title {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--feature-title-color);


}

.portfolio-after-title {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-contact-color);

}